.normal {
}

.operation a {
  margin: 0 0.5em;
}

.demoBlock {
  background-color: #f3f6f9;
}

.title {
  padding: 12px 8px 6px;
  color: #969696;
  font-size: 14px;
}

.content {
  border: 1px solid #eee;
  border-right: none;
  border-left: none;
}
